<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Marionette Sample</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<h1>Marionette Sample</h1>
	<div id="app">
		<div id="dashboard">
			<div class="profile-section callout"></div>
			<div class="card-section callout secondary"></div>
			<div class="store-details callout primary"></div>
		</div>
	</div>

	

	<script type="text/html" id="template-profile-item">
		<label for="<%= inputName %>"><%= label %></label> <input id="<%= inputName %>" type="text" />
	</script>

	<script type="text/html" id="template-card">
		<p class="text"></p>
		<p><a href="#" class="button">button</a></p>
	</script>

	<script type="text/html" id="template-store">
		<h2>Store Details</h2>
		<p></p>
	</script>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/backbone/backbone-min.js"></script>
	<script src="bower_components/marionette/lib/backbone.marionette.js"></script>
	<!--<script src="bower_components/backbone.radio/src/backbone.radio.js"></script>-->
	<script src="js/main.js"></script>

</body>
</html>
